<ul>
    <li><a href="@Url.Action("Index1", "Test")">Test</a></li>
    <li><a href="@Url.Action("Foo", "Test2")">Test 2</a></li>
    <li><a href="@Url.Action("Index", "Student")">Student</a></li>
    <li><a href="@Url.Action("Marks", "Student")">Student Marks</a></li>
</ul>